{{ include('header.html') }}
<div class="landing-main">
    <div class="content">
        <div class="left">
            <div>
                <div class="logo">devlog</div>
                <h2>개발자들의 공간</h2>
            </div>
        </div>
        <div class="right">
            <div class="wrapper">
                <h2>지금, 시작하세요.</h2>
                <div class="login-form">
                    <input type="text" placeholder="이메일 입력">
                    <input type="password" placeholder="비밀번호 입력">
                    <input type="button" value="로그인">
                    <div class="divider-wrapper">
                        <a class="siginin" href="javascript:void(0);" onclick="location.href='/policy'">회원 가입</a> /
                        <a class="explore" href="javascript:void(0);" onclick="location.href='/recent'">로그인 하지 않고 둘러보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('footer.html') }}