@charset "utf-8";
/* 공통 */
a { text-decoration:none ; color:inherit;}
.root{height: 100%;}

/* 랜딩 화면 */
.landing-main{height: 100%; display: flex; flex-direction: column; position: relative;}
.landing-main .content{height:100%; align-items: center; display: flex;}
.landing-main .content .left{
    color:#ffffff;
    background:#424242;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.landing-main .content .left .logo{
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 600;
}
.landing-main .content .left h2{
    margin: 0;
    margin-top: 4rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}
.landing-main .content .right{
    background:#f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-main .content .right h2{
    color: #343a40;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.landing-main .content .left, .content .right{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.login-form{
    font-size: 1rem;
    padding: 3rem;
    padding-bottom: 2rem;
    background: white;
    border-radius: 4px;
    border: 1px solid #e9ecef;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.login-form input{
    border-radius: 4px;
    outline: none;
    flex: 1;
    flex-direction: column;
    border: 1px solid #dee2e6;
    padding: 1rem;
    font-size: 1.2rem;
    min-width: 0;
    margin-bottom: 1rem;
}

.login-form input[type=button]{
    justify-content: center;
    align-items: center;
    background: black;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.login-form input[type=button]:hover{
    background:#ff8916;
}
.login-form .divider-wrapper{
    margin-top: 1.5rem;
    border-top: 1px solid #ced4da;
    padding-top: .75rem;
    text-align: right;
}
.login-form .explore{
    cursor: pointer;
    font-weight: 500;
    color: #424242;
}
.login-form .siginin{
    cursor: pointer;
    font-weight: 500;
    color: #534bae;
}

/* /policy ~ /regist */
.regist-area{
    height: 100%;
}
.regist-area .regist-header{
    color:white;
    width: 80%;
    height: 6rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.regist-area .regist-header .logo{
    font-size: 2.25rem;
    font-weight: 700;
}

.regist-area .regist-header .step-info{
    margin-top: 8px;
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #adb5bd;
}

.regist-area .regist-header .step-info span{
    margin-right: 0.75rem;
}

.regist-area .content{
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f5f5f5;
}

.policy-form .all{
    color:#909090;
    font-weight: 200;
}

.policy-form .policy-con-wrapper{
    margin-bottom: 3rem;
}

.policy-form .policy-con-wrapper:nth-of-type(1){
    border-bottom: 1px solid #ccc;
}

.policy-form .box{
    height: 142px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 712px;
    padding: 23px 44px 23px 28px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 13px;
    line-height: 22px;
    color: #777;
    box-sizing: border-box;
}

.policy-form .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form{
    margin-top: -6rem;
    display: flex;
    width: 512px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #e9ecef;
    background: white;
}

.auth-form .form-head{
    padding: 0 1.5rem;
    border-bottom: 2px solid #f5f5f5;
    /*background: #757c84;*/
}

.auth-form .form-head h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    color: #21282e;
}

.auth-form .form-conetent{
    padding: 3rem;
    display: flex;
}

.auth-form .regist-conetent{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}


.form-conetent input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    flex: 1 1;
    flex-direction: column;
    border: 1px solid #dee2e6;
    padding: 1rem;
    font-size: 1.2rem;
    min-width: 0;
}

.form-conetent .button{
    width: 6rem;
    display: flex;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    background: #7950f2;
    cursor: pointer;
}

.regist-step{
    font-size:0;
    line-height: 0;
}

.regist-step ol{
    list-style: none;
    padding: 0;
    display: block;

}

.regist-step .on{
    background-color: #f54;
}

.regist-step li{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 1.5rem;
    border-radius: 50%;
    background-color: #bdbdbd;
    list-style: none;
}

.regist-conetent .regist-item{
    position: relative;
    width: 100%;
}

.regist-conetent .item-info{
    color:#495057;
    font-weight: 500;
    font-size: .9rem;
}

.regist-conetent .item-info span{
    color:#f03e3e;
}

.regist-conetent .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.item-chk{
    position:absolute;
    right:0;
    padding:.25rem;
    padding-right:1.2rem;
    top:1.2em;
}

.item-loading{
    position:absolute;
    right:0;
    top:0.5em;
    width: 50px;
    height: 50px;
}

.left-side-menu{
    display: flex;
    position: fixed;
    width: 18rem;
    background: white;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: -6px 0px 12px 0px #d6dee4;
}

.left-side-menu .logo{
    padding: 0 2rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    display: block;
    position: relative;
}

.search-box{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.search-box .rect{
    border-radius: 4px;
    display: flex;
    padding-left: .5rem;
    background: #f1f3f5;
    border: 1px solid #dee2e6;
    align-items: center;
    color: #343a40;
}

.search-box.focus .rect{
    border: 1px solid #f54;
    color: #f54;
    background: #fff;
}

.search-box .rect input{
    background: none;
    border: none;
    outline: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .875rem;
    flex: 1 1;
    margin-left: .5rem;
    color: inherit;
}

.left-side-menu .menu{
    list-style: none;
    padding-left: 0;
}

.left-side-menu a{
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.125rem;
    padding-left: 1.75rem;
    display: flex;
    align-items: center;
}

.left-side-menu .menu .menu-item.on{
    color: #f54;
    border-right: 2px solid #ff8970;
}

.left-side-menu .menu .menu-item{
    cursor: pointer;
    color: #495057;
}

.main-top{
    padding: 1.75rem;
    display: flex;
    align-items: center;
}

.main-top .right{
    display: flex;
    align-items: center;
}

.button.outline{
    border-radius: 4px;
    border: 1px solid #495057;
    color: #495057;
    background: #fff;
    font-weight: 400;
    padding: .5rem .875rem;
    line-height: .875rem;
    font-size: .875rem;
    cursor: pointer;
}

.main-top .spacer{
    flex: 1 1;
}

.user-button img{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,.016), 0 3px 6px rgba(0,0,0,.023);
    cursor: pointer;
}

.user-menu-wrapper{
    position: relative;
    z-index: 10;
}

.user-menu-wrapper .menu-position{
    position: absolute;
    right: 0;
    top: 2.5rem;

    border-radius: 3px;
    background-color: #fff;
    box-sizing: content-box;
    box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.3);
    text-align: left;
}

.menu-position .menu-profile{
    overflow: hidden;
    position: relative;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.user-menu{
    padding-top: .25rem;
    padding-bottom: .25rem;
    z-index: 1;
    position: relative;
    font-size: .875rem;
    min-width: 1rem;
}

.user-menu a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #495057;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
}

.menu-profile .menu-email{
    display: block;
    overflow: hidden;
    width: 170px;
    padding: 2px 0 0;
    text-overflow: ellipsis;
    color: #909090;
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
}

.menu-direction{
    position: absolute;
    top: -8px;
    right: 16px;
    width: 16px;
    height: 9px;
    background-image: url('https://t1.daumcdn.net/tistory_admin/static/top/pcrtn/layer_edge.png');
    background-size: 16px 9px;
}

.user-menu .menu-post{
    overflow: hidden;
    position: relative;
    padding: 1rem;
    line-height: 1.5;
    border-top: 1px solid #f0f0f0;
}

.user-menu-wrapper.open{
    display: block;
}

.user-menu-wrapper.close{
    display: none;
}

.write-header{
    position: relative;
    z-index: 15;
    height: 4rem;
    background: #343a40;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    display: flex;
    align-items: center;
    color: #fff;
}

.write-header .title{
    flex: 1 1;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
}

.write-header .title input{
    flex: 1 1;
    background: none;
    outline: 0;
    border: none;
    font-size: 1.25rem;
    color: #fff;
}

.write-header .btn-group{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.write-header .btn-group .upload-image{
    height: 3rem;
    outline: none;
    line-height: .875rem;
    font-size: 1rem;
    padding: 0 .75rem;
    border-radius: 4px;
    border: 1px solid hsla(0,0%,100%,.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: .75rem;
    background: transparent;
    color: white;
}

.root .left{
    flex-direction: column;
}

.root .pan{
    display: flex;
    flex : 1 1;
    min-width: 300px;
    position: relative;
}

.root .right .MarkdownPreview{
    position: relative;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    overflow-y: auto;
}

.MarkdownPreview > h1{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 1px solid #ced4da;
    word-break: break-word;

}

.code-content{
    display: flex;
    width: 100%;
    height: calc(100% - 4rem);
    position: relative;

}

.write-header .back-icon{
    cursor: pointer;
    color: hsla(0,0%,100%,.8);
    font-size: 1.75rem;
}
.btn-group .button{
    height: 3rem;
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 0 .75rem;
    font-weight: 500;
    border-radius: 2px;
    line-height: .875rem;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.1725);
    user-select: none;
    cursor: pointer;
}
.btn-group .button.submit{
    background: #845ef7;
    color: #fff;
}

.btn-group .upload-image .btn-text{
    margin-left: .5rem;
}


@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:500,700&subset=korean");
body {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Apple SD Gothic Neo", AppleSDGothicNeo, "Noto Sans CJK KR", "NanumGothic", "Malgun Gothic", "맑은 고딕", 돋움, dotum, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    height: 100%;
}
#root {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
#root {
    position: relative;
}
button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    text-align: inherit;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    font-family: inherit;
}
.util.stick-right {
    margin-left: auto;
}
.util.flex-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.util.flex-placeholder {
    -ms-flex: 1 1;
    flex: 1 1;
}
.util.ellipsis {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden !important;
}
@-webkit-keyframes Blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes Blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.keyframes.blink {
    -webkit-animation-name: Blink;
    animation-name: Blink;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.recent-section{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.post-list{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: -.875rem;
    margin-right: -.875rem;
}

.post-card{
    margin: .875rem;
    /*width: calc((100% - 8.75rem) / 5);*/
    /*width:320px;*/
    width: calc(25% - 1.75rem);
    position: relative;
    background: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 4px rgba(0,0,0,.05);
    display: flex;
    flex-direction: column;
}

.post-card .thumbnail-wrapper{
    width: 100%;
    padding-top: 52.63%;
    position: relative;
    display: block;
}

.post-card .thumbnail-wrapper img{
    background: #dee2e6;
    object-fit: cover;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-card .white-mask{
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,100%,.25);
    opacity: 0;
}
.post-card .card-content{
    display: flex;
    box-shadow: 0 -4px 16px rgba(0,0,0,.05);
    background: #fff;
    flex-direction: column;
    flex: 1 1;
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 2rem 1rem;
    color: #343a40;
}
.card-content .user-thumbnail-wrapper{
    position: absolute;
    right: 1rem;
    top: 0;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    -webkit-transform: translateY(-50%);
    box-shadow: 0 -4px 16px rgba(0,0,0,.05);
    background: #fff;
}

.card-content .content-head{
    position: relative;
    height: 8.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e9ecef;
}

.card-content .description{
    margin-top: 1.5rem;
    line-height: 1.5rem;
    height: 4.5rem;
    overflow-y: hidden;
    word-break: break-all;
    color: #4c657d;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-head .between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.between .username{
    font-size: .875rem;
    font-weight: 600;
    color: #845ef7;
}

.content-head h3{
    display: block;
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
    max-height: 4rem;
    font-weight: 600;
    overflow: hidden;
}

.content-head .subinfo{
    font-size: .875rem;
    margin-top: .5rem;
    color: #8aa6c1;
}

.user-thumbnail-wrapper img{
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    object-fit: cover;
    border-radius: 50%;
}

.logo-area{
    font-size: 2rem;
    line-height: 2rem;
    color : #212529;
}
.content-area{
    margin:0 auto;
    position: relative;
    width: 768px;

}
.post-head{
    margin-top : 4rem;
    font-size : 1rem;
}

.horizon-user-info{
    display: flex;
    margin-top: 1em;
    margin-bottom: 2rem;
    align-items: center;
}
.user-thumbnail{
    flex-shrink: 0;
    width: 4em;
    height: 4em;
    position: relative;
}
.user-thumbnail img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info{
    margin-left: 1em;
    font-size: .875em;
    line-height: 1.5em;
}

.info .username{
    font-weight: 500;
    color:#212529;
}
.info .description{
    word-break: break-word;
    color: #868e96;
}
.post-head h1{
    font-family: Noto Serif KR,sans-serif;
    margin: 0;
    font-size: 2.5em;
    line-height: 3.2rem;
}
.post-date{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.125em;
    color: #868e96;
}
.separator{
    width: 100%;
    height: 1px;
    background: #e7edf3;
    margin-top: 2em;
    margin-bottom: 3em;
}

.post-action-btn{
    margin-right: -.4rem;
    margin-top: -2rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.post-action-btn button{
    font-size: .875rem;
    color: #868e96;
    font-weight: 500;
    padding: .125rem .5rem;
    cursor: pointer;

}

.post-comment{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.comment-input textarea{
    max-height: 480px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    resize: none;
    color: #212529;
    display: block;
    line-height: 1.5;
}

.comment-btn{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.comment-btn button{
    background: #845ef7;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    padding: .5rem .875rem;
    line-height: .875rem;
    font-size: .875rem;
}

.post-comment h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.comment-list{
    margin-top : 2rem;
}

.comment-block{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.comment-block-level2{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.comment-block-level3{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.comment-block-level4{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
}


.comment-flex{
    margin-top:1rem;
    padding: 1rem;
    display: flex;
}
.comment-block-head{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 1rem;
    position: relative;
}

.comment-block-head .text-block{
    font-size: .875rem;
    margin-top : .5rem;
}

.text-block .username{
    font-weight: 600;
    color: #212529;
}
.text-block .date{
    margin-top: .125rem;
    color: #868e96;
}
.comment-block-head img{
    width:3rem;
    height:3rem;
    border-radius:50%;
}

.comment-block-body{
    margin-left: 1rem;
    flex : 1 1;
}

.comment-block-btn{
    display: flex;
    justify-content: flex-end;
    margin-top:.9rem;
    font-size: .875rem;
    color: #868e96;
}

.delete{
    margin-left: .8em;
}

.comment-block:not(:first-child){
    border-top : 1px solid #e9ecef;
}

.comment-info{
    margin-top:1rem;
}

.comment-reply{
    isplay: inline-flex;
    align-items: center;
    padding: .875rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 600;
    font-size: .875rem;
    color: #7950f2;
    border-radius: 2px;
    cursor: pointer;
}

.reply-input-area{
    margin-left: 1rem;
    background: rgba(0,0,0,.025);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
}

button.cancel{
    background: #495057;
    color: #fff;
    margin-left: .7rem;
}

.comment-page{
    text-align: center;
}

.inner-paging{
    display:flex;
    justify-content: center;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.2rem;
}

.link_page span{
    color:#929292;
}
.link_page span.active{
    color:#845ef7;
}
.inner-paging a{
    padding:1rem;
}

.comment-wrapper{
    flex : 1 1;
}

.main{
    width: 1024px;
    margin: 0 auto;
    /*margin-top: 4rem;*/
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.user-head{
    display: flex;
}

.user-head img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-info{
    margin-left: 1rem;
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.top{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top-wrapper {
    display: flex;
    margin-top: auto;
}

.user-info section{
    min-height: 5rem;
}

.user-name{
    margin-top: auto;
    font-weight: 500;
    color: #7950f2;
    padding-bottom: .5rem;
    flex : 1 1;
}

.profile-content{
    border-top: 1px solid #e9ecef;
    padding-top: .5rem;
}

.profile-content h2{
    color: #343a40;
    font-size: 2.5rem;
}

.profile-content p{
    margin-top: .75rem;
    color: #495057;
    line-height: 1.5em;
    font-size: .875rem;
    white-space: pre-wrap;
}

.user-content{
    margin-top: 3rem;
}

.social-info{
    margin-top : 1rem;
}

.social-info .icons{
    margin-left: -2px;
    color: #495057;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.5rem;
}

.icons a {
    display : block;
    cursor:pointer;
}

.other-links{
    margin-top: 1rem;
}

.link-line{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.link-line svg{
    color: #495057;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.link-line a{
    flex: 1 1;
    min-width: 0;
    color: #845ef7;
    font-size: 1rem;
}

.profile-btn svg{
    font-size: 2rem;
    margin-bottom : .5rem;
}

.profile-btn a {
    font-size: 1.5rem;
}

.text-input textarea{
    height: auto;
    width:100%;
    min-height: 15rem;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: inherit;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 4px;
}

.text-input .button-wrapper{
    margin-top: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.button-wrapper button{
    background: #845ef7;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding: .5rem .875rem;
}

.other-post{
    z-index: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    background: #f8f9fa;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top: 1px solid #e9ecef;
}

.other-post .wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 768px;
    margin: 0 auto;
}

.other-post .wrapper h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.other-post-item{
    padding: 1.5rem;
    border: 1px solid #e9ecef;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.other-post-item .title{
    font-weight: 500;
    font-size: 1.125rem;
}

.other-post-item .date{
    color: #495057;
    font-size: .75rem;
    margin-bottom: .5rem;
}

.other-post-item p{
    margin-top: 1rem;
    margin-bottom: 0;
    color: #343a40;
    font-size: .875rem;
}

.other-post-item.active{
    border: 1px solid #7950f2;
    color: #7950f2;
}

.search-area{
    width: 768px;
    margin: 0 auto;
    margin-top: 4rem;
}

.search-bar{
    border-radius: 30px;
    border: 1px solid #f54;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #f54;
    padding-left: 1rem;
    padding-right: .5rem;
}
.search-bar svg{
    font-size: 2rem;
}
.search-bar input{
    min-width: 0;
    color: inherit;
    background: none;
    outline: none;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    flex: 1 1;
}

.search-content{
    margin-top: 3rem;
    margin-bottom: 9rem;
}

.search-content .count{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #343a40;
}

.search-content .count b{
    color: #212529;
}

.search-item{
    color: #212529;
    -webkit-animation: searchResultItemAppear .15s ease-in-out;
    animation: searchResultItemAppear .15s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.search-item + .search-item{
    border-top: 1px solid #e9ecef;
    margin-top: 2rem;
    padding-top: 2rem;
}

.search-user-info{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.search-user-info img{
    width: 3rem;
    height: 3rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.2);
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.search-user-info .user-name{
    margin-left: 1rem;
    font-weight: 600;
    font-size: .875rem;
    color: inherit;
}

.search-item h3{
    font-size: 1.75rem;
    margin-top: 1rem;
}

.search-item p{
    margin-top: .5rem;
    font-size: 1.125rem;
    line-height: 1.25;
    color: #343a40;
}

.search-item .date{
    margin-top: .75rem;
}

.search-content .more-btn{
    margin-top: 3rem;
    color: #f54;
    border-radius: 4px;
    outline: none;
    border: none;
    overflow: visible;
    background: transparent;
    text-align: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;

    font-weight: 600;
    cursor: pointer;
}

.tag-wrapper {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.tag_tab{
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #868e96;
    display: -ms-flexbox;
    display: flex;
}

.tag_tab a{
    display: block;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .125s ease-in;
    -o-transition: all .125s ease-in;
    transition: all .125s ease-in;
}

.tag_tab a.active{
    font-weight: 600;
    color: #f54;
    border-bottom: 2px solid #f54;
}

.tag_tab a+a{
    margin-left: 1rem;
}

.tag_list{
    margin: -.375rem;
    margin-top: 1.625rem;
}

.tag_item{
    display: inline-flex;
    padding: .5rem 1rem;
    margin: .375rem;
    background: #fff;
    border: 1px solid #ced4da;
    color: #343a40;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1.0625rem;
    cursor: pointer;
}

.tag_item .name{
    font-size: .875rem;
    font-weight: 500;
}

.tag_item .count{
    margin-left: .5rem;
    color: #868e96;
    font-size: .625rem;
}

.tag-info{
    margin-top: 1rem;
}

.tag-info a{
    font-size: 1.25rem;
    font-weight: 500;
    color: #868e96;
}

.tag-info hr{
    margin-top: 1rem;
    border: none;
    background: #ced4da;
    height: 1px;
    margin-bottom: 1rem;
}

.tag-info h2{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: #343a40;
}

.tag-info h2 span{
    font-size: 1.25rem;
    color: #495057;
    font-weight: 300;
}